%h1 Commits

- if Status.failed?
  %p.bg-danger
    %b Error!
    = Status.get_message

- if Status.in_process?
  %p.bg-success
    %b Important!
    = Status.get_message

= form_tag root_path, method: :get do
  = text_field_tag :user_email, params[:user_email], placeholder: "Enter user's email to filter commits"
  = submit_tag

%table.table
  %thead
    %tr
      %th SHA
      %th User Name
      %th User Email
      %th Message
      %th Date
  %tbody
    - @commits.each do |commit|
      %tr
        %td= commit.sha
        %td{ data: { user_id: commit.user_id } }= best_in_place commit.user, :name
        %td= commit.user.email
        %td= simple_format commit.message
        %td= commit.date

= will_paginate @commits, renderer: BootstrapPagination::Rails